.admin-dashboard {
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stat-cards {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.stat-card {
  padding: 1rem;
  background-color: #fefcfb;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  flex: 1;
  text-align: center;
  font-size: 1.2rem;
  color: #034078;
}
